# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
*.suo
*.user
*.userossc
*.sln.docstates

# Build directories
Debug/
Release/
x64/
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.log
*.tlog
*.lastbuildstate

# Others
*.ipch
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.suo
*.cache
*.log
*.tlb
*.tlh
*.tmp
*.tmp_proj
